*.wt
data/*.wt
data/diagnostic.data/
data/journal
*.lock
*.swp
*.pyc
*.bson
*.turtle
WiredTiger
data1/diagnostic.data
data2/diagnostic.data
data3/diagnostic.data
rs1/diagnostic.data
rs2/diagnostic.data
rs3/diagnostic.data
rs1/journal
rs2/journal
rs3/journal
